[submodule "authentificationApi"]
	path = authentificationApi
	url = https://github.com/saadRafik/authentificationApi.git

[submodule "playerApi"]
	path = playerApi
	url = https://github.com/saadRafik/playerApi.git

[submodule "monsterApi"]
	path = monsterApi
	url = https://github.com/saadRafik/monsterApi.git

[submodule "invocationsApi"]
	path = invocationsApi
	url = https://github.com/saadRafik/invocationsApi.githttps://github.com/saadRafik/invocationsApi.git